 .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.highlight {
	background: rgb(250,250,210);
}


body {
	
	background-color:#F5F5F5;

}

 .instructions {
	background-color: rgb(47,79,79);
	color:rgb(218,165,32);
	border:4px solid rgb(218,165,32);
}

div> span >h3 {
	background-color:rgb(220,220,220);
	text-align: center;
	font-size: 2em
}
#scorBoard{
	float:right;
	border:2px solid rgb(240,128,128);
	font-size: 2em;
}

#randNum{
	font-size: 8em;
}
#total{
	background-color:rgb(220,220,220);
	font-size: 2em
}
#crystal{
	
}